.home {
    display: flex;
}

.productContainer {
    display: flex;
    width: 78%;
    padding: 20px;
    flex-wrap: wrap;
    justify-content: space-around;
}

/* filter styling */

.filter {
    background-color: #407cb0;
    color: #fff;
    padding: 20px;
    display: flex;
    flex-direction: column;
    width: 20%;
    margin: 10px;
    height: 86vh;
}
.filter > span{
    padding-bottom: 20px;
}
.title{
    font-size: 30px;
}

.products{
    width: 30%;
    margin: 10px;
}

.cartItem{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin:  0 20px;
    margin-bottom: 20px;
    
}
.cartItemImg{
    border-radius: 50%;
    width: 50px;
    height: 50px;
    object-fit: cover;
}
.cartItemDetail{
    display: flex;
    flex: 1;
    padding: 0 20;
    flex-direction: column;

}

.summary{
    width: 30%;
}

@media (max-width: 771px) {


    .productContainer {
        padding: 0px;
        width: 58%;
    
    }
    
    /* filter styling */
    
    .filter {
        padding: 10px;
        width: 40%;
        margin: 5px;
       
    }
    .filter > span{
        padding-bottom: 10px;
    }
    .title{
        font-size: 18px;
    }
    
    .products{
        width: 100%;
        margin: 10px;
    }
    
 .search{
    display: none !important;
 }

    
}